header {
  background: #444;
  height: 70px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 70px;
}
.brand {
  margin-left: 30px;
  font-size: 25px;
}

body {
  width: 800px;
  margin: 0 auto;
}