#ko-view-container {
  -webkit-font-smoothing: antialiased;
  position: fixed;
  z-index: 99999;
  left: 10px;
  top: 20px;
  > .ko-view-menu {
    width: 82px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-family: Arial;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 7px 7px 20px rgba(0,0,0,.3);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      .ko-view-move,
      .ko-view-close {
        opacity: 1;
      }
    }
    .ko-view-move {
      cursor: move;
      opacity: 0;
      -webkit-transition: opacity .15s ease;
      -moz-transition: opacity .15s ease;
      transition: opacity .15s ease;
      position: relative;
      left: 0;
      top: 0;
      padding-left: 12px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover:before {
        border-color: #5fa3ff;
      }
    }
    .ko-view-move:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 13px;
      height: 2px;
      -webkit-transition: border .15s ease;
      -moz-transition: border .15s ease;
      transition: border .15s ease;
      border-top: 6px double #aaa;
      border-bottom: 2px solid #aaa;
    }
  }
  > .ko-view-content {
    height: 450px;
    width: 550px;
    overflow: auto;
    font-family: "Menlo", "Consolas", "Lucida Console", Monaco, monospace;
    line-height: 14px;
    margin: 0;
    background: rgb(255,255,255);
    border: 1px solid #eee;
    box-shadow: 7px 7px 20px rgba(0,0,0,.3);
    padding: 4px;
    color:#666;
    background: #fff;
    resize: both;
    position: absolute;
    left: 0px;
    top: 40px;
  }
  .ko-view-toggle {
    display: inline-block;
    width: 40px;
    text-align: center;
    padding: 0 10px;
    font-weight: bold;
    color: #666;
    background: #fff;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ko-view-close {
    opacity: 0;
    -webkit-transition: opacity .15s ease, color .15s ease;
    -moz-transition: opacity .15s ease, color .15s ease;
    transition: opacity .15s ease, color .15s ease;
    color: #aaa;
    font-weight: bold;
    width: 8px;
    cursor: pointer;
    position: relative;
    top: -1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      color: #a23e25;
    }
  }
  #formattedJson {
    padding-left:20px;
    padding-top:6px
  }
  .kvov {
    display:block;
    padding-left:15px;
    margin-left:-15px;
    position:relative;
  }
  .collapsed {
      white-space:nowrap;
  }
  .collapsed>.blockInner {
      display:none;
  }
  .collapsed>.ell:after {
      content:"…";
      font-weight:bold;
  }
  .collapsed>.ell {
      margin:0 4px;
      color:#888;
  }
  .collapsed .kvov {
      display:inline;
  }
  .e {
      width:20px;
      height:18px;
      display:block;
      position:absolute;
      left:-2px;
      top:1px;
      z-index:5;
      background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpiYGBgOADE%2F3Hgw0DM4IRHgSsDFOzFInmMAQnY49ONzZRjDFiADT7dMLALiE8y4AGW6LoBAgwAuIkf%2F%2FB7O9sAAAAASUVORK5CYII%3D");
      background-repeat:no-repeat;
      background-position:center center;
      display:block;
      opacity:0.15;
  }
  .collapsed>.e {
      -webkit-transform:rotate(-90deg);
      -moz-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
      -o-transform:rotate(-90deg);
      transform:rotate(-90deg);
      width:18px;
      height:20px;
      left:0px;
      top:0px;
  }
  .e:hover {
      opacity:0.35;
  }
  .e:active {
      opacity:0.5;
  }
  .collapsed .kvov .e {
      display:none;
  }
  .blockInner {
      display:block;
      padding-left:24px;
      border-left:1px dotted #bbb;
      margin-left:2px;
  }
  #formattedJson, #jsonpOpener, #jsonpCloser {
      color:#333;
      font:13px/18px monospace
  }
  #formattedJson {
      color:#444
  }
  .b {
      font-weight:bold
  }
  .s {
      color:#718c00;
      word-wrap:break-word
  }
  a:link, a:visited {
      text-decoration:none;
      color:inherit
  }
  a:hover, a:active {
      text-decoration:underline;
      color:#050
  }
  .bl, .nl, .n {
      font-weight:bold;
      color:#f5871f;
  }
  .k {
      color:#718c00;
  }
  span {
      white-space:pre-wrap
  }
}
